<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

@{
    ViewData["Title"] = "Masterchef";
}

<img src="/css/capa.png" class="img-fluid" alt="capa">

<div class="container text-center">
    <h1 style="margin-top:2rem; font-family:'Inika'; font-weight:700; color:#FE9B13;">JURADOS</h1>
    <div class="row align-middle" style="margin-top:2rem;">
    <div class="row align-middle" style="margin-top:1rem;">
        <div class="col-md-4 col-md-offset-4">
            <div class="card" style="width: 18rem; margin-left:4rem;">
                <img src="/css/helena.png" class="card-img-top" alt="helena">
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <div class="card" style="width: 18rem; margin-left:4rem;">
                <img src="/css/jacquin.png" class="card-img-top" alt="jacquin">
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <div class="card" style="width: 18rem; margin-left:4rem;">
                <img src="/css/fogaca.png" class="card-img-top" alt="fogaca">
            </div>
        </div>
    </div>
</div>

<style>
    .img-fluid{
        width: 100%;
    }
</style>