@page
@model master.Views.MBrasil.IndexModel
@* @{
        ViewData["Title"] = "Masterchef Brasil";
    } *@

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

<img src="/css/mbrasil.png" class="img-fluid" alt="capa" style="width:100%;">

<div class="container-fluid ">

    <div class="row row-cols-1 row-cols-md-2 g-4" style="margin-top:0px;margin-left:20px;">

        <select class="form-select" aria-label="Default select example" style="width:20rem;">
            <option selected>TEMPORADAS 1</option>
            <option value="1">TEMPORADAS 2</option>
            <option value="2">TEMPORADAS 3</option>
            <option value="3">TEMPORADAS 4</option>
            <option value="4">TEMPORADAS 5</option>
            <option value="5">TEMPORADAS 6</option>
            <option value="6">TEMPORADAS 7</option>
            <option value="7">TEMPORADAS 8</option>
            <option value="8">TEMPORADAS 9</option>
        </select>



        <select class="form-select" aria-label="Default select example" style="width: 20rem; margin-left: 20px;">
            <option selected>PARTICIPANTES</option>
            <option value="1">Elisa Fernandes </option>
            <option value="2">Helena Manosso</option>
            <option value="3">Luis Lima</option>
            <option value="4">Mohamad Hindi Neto</option>
            <option value="5">Jaime Conceição</option>
            <option value="6">Cecília Padilha</option>
            <option value="7">Flávio Takemoto</option>
            <option value="8">Jamyly Monard</option>
            <option value="9">Estefano Zaquini</option>
            <option value="10">Sandra Matarazzo</option>
            <option value="11">Martin Casilli</option>
            <option value="12">Lucio Manosso</option>
            <option value="13">Bianca Bertolaccini</option>
            <option value="14">Isabella Britto</option>
            <option value="15">Marli Rocha</option>
            <option value="16">Shlomi Asaf</option>
        </select>

    </div>

    <div class="row">
        <div class="col-12" style="text-align: center;margin-top:80px;">
            <h2 style="font-family: 'Inter', sans-serif; color: #FE9B13; ">PRATOS GANHADORES</h2>
        </div>
    </div>    
    
    <div class="row">
        <div style="display:flex;" >
            <div class="col-3" style="text-align: center;margin-top:80px;">
                <h5 style="font-family: 'Inter', sans-serif; color: #FE9B13; ">PROVAS</h5>
            </div>
            <div class="col-8" style="text-align: center; margin-top: 80px;margin-left:30px;">
                <h5 style="font-family: 'Inter', sans-serif; color: #FE1313; ">ELIMINAÇÃO</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card col-6 offset-2" style="width:35rem; background-color:#FE9B13;">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/wVs3rVpXojU?si=B1axxWW_Wnq7AWFr&amp;start=1780" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title" style="color:#000000">EP 3 - Cecília Padilha</h6>
                    <p class="card-text" style="color:#000000;">Espuma de chocolate com confit de abacaxi com pimenta </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card col-6 offset-1" style="width: 35rem; background-color: #FE9B13; ">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/wVs3rVpXojU?si=Cn9J2Riiryso2e3u&amp;start=4013" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">EP 3 - Isabella Britto</h6>
                    <p class="card-text">Costelinha de porco com shoyo e gengibre / <br> Costelinha de porco ao molho de vinho branco e chutney de maracuja</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" style="margin-top:20px;">
        <div class="col-6">
            <div class="card col-6 offset-2" style="width:35rem; background-color:#FE9B13;">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/4iRQykV1AfQ?si=UVaBlpX3y3GeRPp4&amp;start=1725" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title" style="color:#000000">EP 4 - Equipe Vermelha</h6>
                    <p class="card-text" style="color:#000000">Frango grelhado com risoto caipira /<br /> Salada de repolho e batata douradas </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card col-6 offset-1" style="width: 35rem; background-color: #FE9B13; ">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/4iRQykV1AfQ?si=n8djL0KSivzOOgUY&amp;start=4066" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">EP 4 - Luis Lima</h6>
                    <p class="card-text">Galinhada goiana</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-6">
            <div class="card col-6 offset-2" style="width:35rem; background-color:#FE9B13;">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/JRwfp4O0AiM?si=KI33GADoJH7gwu3s&amp;start=1303" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title" style="color:#000000">EP 5 - Flávio Takemoto</h6>
                    <p class="card-text" style="color:#000000">Tofu com crosta de castanha de caju e legumes </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card col-6 offset-1" style="width: 35rem; background-color: #FE9B13; ">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/JRwfp4O0AiM?si=_XYBKcH6OGNxRW7h&amp;start=2114" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">EP 5 - Estefano Zaquini</h6>
                    <p class="card-text">Torta de castanha-do-pará, sorvete de whisky, rúcula, curry e calda de chocolate - Sobremesa do Atala</p>
                </div>
            </div>
        </div>
    </div>

     <div class="row" style="margin-top:20px;">
        <div class="col-6">
            <div class="card col-6 offset-2" style="width:35rem; background-color:#FE9B13;">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/sDeOTAiDsmc?si=ZGg9KbtMuGoylj8d&amp;start=1990" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title" style="color:#000000">EP 6 - Equipe Azul</h6>
                    <p class="card-text" style="color:#000000">
                        Entrada: fondue de gorgonzola com tomate confit e massa folhada<br/>
                        Prato principal: salmão com temperos e cuscuz marroquino<br/>
                        Sobremesa: panacota com espuma de frutas vermelhas
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card col-6 offset-1" style="width: 35rem; background-color: #FE9B13; ">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/sDeOTAiDsmc?si=UszdgcXUEr7A5IEM&amp;start=2887" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">EP 6 - Bianca Bertolaccini</h6>
                    <p class="card-text"> Bauletti recheado com ricota - Prato de Salvatore Loi </p>
                </div>
            </div>
        </div>
    </div>

     <div class="row" style="margin-top:20px;">
        <div class="col-6">
            <div class="card col-6 offset-2" style="width:35rem; background-color:#FE9B13;">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/i05xJUWkp04?si=OOJ_C7dYDwrUlp5i&amp;start=1734" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title" style="color:#000000">EP 7 - Flávio Takemoto</h6>
                    <p class="card-text" style="color:#000000">
                        Merengue pochet de laranja com creme de cream cheese e cacau - Sobremesa com Alexandre Costa
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card col-6 offset-1" style="width: 35rem; background-color: #FE9B13; ">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/i05xJUWkp04?si=BAU7W8lNlvjpFOna&amp;start=4253" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">EP 7 - Lucio Manosso </h6>
                    <p class="card-text"> Moqueca de pirarucu com farofa de castanha de caju e banana </p>
                </div>
            </div>
        </div>
    </div>

     <div class="row" style="margin-top:20px;">
        <div class="col-6">
            <div class="card col-6 offset-2" style="width:35rem; background-color:#FE9B13;">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/_6gEruqVOaY?si=_-xH9MaYBsZyeZKf&amp;start=893" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title" style="color:#000000">EP 8 - Equipe Vermelha</h6>
                    <p class="card-text" style="color:#000000">
                        Hambúrguer de picanha, fraldinha, coxão mole e carne de porco, com uma fatia de bacon, salada , maionese e mostarda
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card col-6 offset-1" style="width: 35rem; background-color: #FE9B13; ">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/_6gEruqVOaY?si=hGgpOAlBUKXXILiY&amp;start=4490" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">EP 8 - Helena Manosso </h6>
                    <p class="card-text"> Frango assado com farofa de miúdos, bacon e legumes </p>
                </div>
            </div>
        </div>
    </div>

     <div class="row" style="margin-top:20px;">
        <div class="col-6">
            <div class="card col-6 offset-2" style="width:35rem; background-color:#FE9B13;">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/1hwCUhEz0xM?si=SNqYnpDmKnssF5AR&amp;start=1542" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title" style="color:#000000">EP 9 - Sandra Matarazzo</h6>
                    <p class="card-text" style="color:#000000">
                        Moqueca baiana
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card col-6 offset-1" style="width: 35rem; background-color: #FE9B13; ">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/1hwCUhEz0xM?si=4LIhKZXkcBNYb8bv&amp;start=4904" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">EP 9 - Não houve ganhador</h6>
                    <p class="card-text"> Comida na geladeira do outro dia </p>
                </div>
            </div>
        </div>
    </div>

     <div class="row" style="margin-top:20px;">
        <div class="col-6">
            <div class="card col-6 offset-2" style="width:35rem; background-color:#FE9B13;">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/c8LbFFHQlNA?si=6oc4QeA6yRzGp24t&amp;start=1859" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title" style="color:#000000">EP 10 - Equipe Vermelha</h6>
                    <p class="card-text" style="color:#000000">
                        Entrada: mil folhas de queijo com calda de manga<br/>
                        Prato principal: carré de cordeiro e purê de banana com batata doce<br/>
                        Sobremesa: mousse de chocolate branco com calda de maracujá
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card col-6 offset-1" style="width: 35rem; background-color: #FE9B13; ">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/c8LbFFHQlNA?si=ic52Y_Ssk6UtQaDV&amp;start=4915" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">EP 10 - Estefano Zaquini</h6>
                    <p class="card-text"> Petit Gateau </p>
                </div>
            </div>
        </div>
    </div>

     <div class="row" style="margin-top:20px;">
        <div class="col-6">
            <div class="card col-6 offset-2" style="width:35rem; background-color:#FE9B13;">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/RBgCB64HrWU?si=k59REM1WWTKngb0h&amp;start=2323" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title" style="color:#000000">EP 11 - Prova em dupla - Luis Lima e Jamyly Monard</h6>
                    <p class="card-text" style="color:#000000">
                        Feijoada com farofa e couve refogada com uma fatia de laranja
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card col-6 offset-1" style="width: 35rem; background-color: #FE9B13; ">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/RBgCB64HrWU?si=Ufs-V7zP_j4ZMeA1&amp;start=4893" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">EP 11 - Elisa Fernandes</h6>
                    <p class="card-text"> Caranguejo cremoso com arroz e raspas de limão </p>
                </div>
            </div>
        </div>
    </div>

     <div class="row" style="margin-top:20px;">
        <div class="col-6">
            <div class="card col-6 offset-2" style="width:35rem; background-color:#FE9B13;">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/QnNJemfVmpU?si=oHwLLoi7PvzpeStH&amp;start=2256" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title" style="color:#000000">EP 12 - Equipe Azul</h6>
                    <p class="card-text" style="color:#000000">
                        Purê de batata e queijo com carne moída e vegetais / <br />Creme de iogurte e chocolate branco com manga e tirinhas de maça
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card col-6 offset-1" style="width: 35rem; background-color: #FE9B13; ">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/QnNJemfVmpU?si=f--kqNp_cQ16y3WB&amp;start=4116" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">EP 12 - Elisa Fernandes</h6>
                    <p class="card-text"> Javali ao molho de limão e vinho branco com quinoa refogada </p>
                </div>
            </div>
        </div>
    </div>

     <div class="row" style="margin-top:20px;">
        <div class="col-6">
            <div class="card col-6 offset-2" style="width:35rem; background-color:#FE9B13;">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/pivrFutQbrY?si=8So_5hEqYsVJIc26&amp;start=2021" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title" style="color:#000000">EP 13 - Cecília Padilha</h6>
                    <p class="card-text" style="color:#000000">
                        Picadinho de carne com cogumelo e massa filo
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card col-6 offset-1" style="width: 35rem; background-color: #FE9B13; ">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/pivrFutQbrY?si=UT_BI3fuz4gtP2M7&amp;start=4604" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">EP 13 - Luis Lima</h6>
                    <p class="card-text"> Prime rib ao vinho tinto, batatas com alecrim e molho de mostarda</p>
                </div>
            </div>
        </div>
    </div>

     <div class="row" style="margin-top:20px;">
        <div class="col-6">
            <div class="card col-6 offset-2" style="width:35rem; background-color:#FE9B13;">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/vGZLesItxbc?si=03CIIREoRstr0Uck&amp;start=1938" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title" style="color:#000000">EP 14 - Equipe Vermelha</h6>
                    <p class="card-text" style="color:#000000">
                        Entrada: cogumelo recheado com parmesão ao molho basílico e alface romana<br />
                        Prato principal: coelho na brasa com maças carameladas<br />
                        Sobremesa: mil folhas com nata e doce de leite
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card col-6 offset-1" style="width: 35rem; background-color: #FE9B13; ">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/vGZLesItxbc?si=RPimMOkXcqYNRs4J&amp;start=4945" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">EP 14 - Elisa Fernandes</h6>
                    <p class="card-text"> Pappardelle ao molho branco com alcachofras </p>
                </div>
            </div>
        </div>
    </div>

     <div class="row" style="margin-top:20px;">
        <div class="col-6">
            <div class="card col-6 offset-2" style="width:35rem; background-color:#FE9B13;">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/L8I_cBhj0aM?si=JfjxTk0x1ffx3bjT&amp;start=2778" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title" style="color:#000000">EP 15 - Mohamad Hindi Neto</h6>
                    <p class="card-text" style="color:#000000">
                        Nhoque de banana da terra com filhote no tucupi
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card col-6 offset-1" style="width: 35rem; background-color: #FE9B13; ">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/L8I_cBhj0aM?si=Lb8X6keFT0StE_lQ&amp;start=5405" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">EP 15 - Elisa Fernandes</h6>
                    <p class="card-text"> Atum com gergelim tostado ao molho tarê e cogumelos </p>
                </div>
            </div>
        </div>
    </div>

     <div class="row" style="margin-top:20px;">
        <div class="col-6">
            <div class="card col-6 offset-2" style="width:35rem; background-color:#FE9B13;">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/rWbSQCPtPr0?si=9_t5uC35k1WHpg8c&amp;start=2228" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title" style="color:#000000">EP 16 - Helena Manosso</h6>
                    <p class="card-text" style="color:#000000">
                        Magret de pato e funghi ao molho de laranja
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card col-6 offset-1" style="width: 35rem; background-color: #FE9B13; ">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/rWbSQCPtPr0?si=bRHswjGFzC2GKMAR&amp;start=4726" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">EP 16 - Elisa Fernandes</h6>
                    <p class="card-text"> Figado ao molho de vinho com cuscuz marroquino </p>
                </div>
            </div>
        </div>
    </div>

     <div class="row" style="margin-top:20px;">
        <div class="col-6">
            <div class="card col-6 offset-2" style="width:35rem; background-color:#FE9B13;">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/ZBQgUR30dTQ?si=k3lY5IyP6d3Vov-O&amp;start=2235" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title" style="color:#000000">EP 17 - Semifinal - Elisa Fernandes</h6>
                    <p class="card-text" style="color:#000000">
                        Peru ao molho de champanhe com arroz e farofa de maças e azeitonas
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card col-6 offset-1" style="width: 35rem; background-color: #FE9B13; ">
                <iframe width="560" height="195" src="https://www.youtube.com/embed/ZBQgUR30dTQ?si=ukrfEi3G9ZVHxQpp&amp;start=5360" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h6 class="card-title">EP 17 - Final - Elisa Fernandes</h6>
                    <p class="card-text">
                        Entrada: ovo poché com aspargos e couves de bruxelas<br/>
                        Prato principal: filé mignom suíno ao molho com purê de kabocha e farofa<br/>
                        Sobremesa: creme ao limão siciliano com goiaba, goiabada e chantily de requeijão
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>

